<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Trans-Flow-Back/api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
</IfModule>
